Arithmetic operations

Pandas allows element-wise arithmetic on Series and DataFrames.
Operations are aligned by index or column names.

1. Arithmetic on Series

In [1]:
import pandas as pd

s1 = pd.Series([10, 20, 30])
s2 = pd.Series([1, 2, 3])

print(s1 + s2)   # Addition
print(s1 - s2)   # Subtraction
print(s1 * s2)   # Multiplication
print(s1 / s2)   # Division

0    11
1    22
2    33
dtype: int64
0     9
1    18
2    27
dtype: int64
0    10
1    40
2    90
dtype: int64
0    10.0
1    10.0
2    10.0
dtype: float64

2. Arithmetic on DataFrame

In [2]:
df1 = pd.DataFrame({'A': [10, 20], 'B': [30, 40]})
df2 = pd.DataFrame({'A': [1, 2],  'B': [3, 4]})

print(df1 + df2)
print(df1 - df2)
print(df1 * df2)
print(df1 / df2)

    A   B
0  11  33
1  22  44
    A   B
0   9  27
1  18  36
    A    B
0  10   90
1  40  160
      A     B
0  10.0  10.0
1  10.0  10.0

In [ ]:
df3 = pd.DataFrame()
df3["C"]= df1["A"] + df1["B"]
print(df3)

    A   B
0  10  30
1  20  40
   A  B
0  1  3
1  2  4
    C
0  40
1  60

In [10]:
var = pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
print(var)

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [11]:
var["C"] = var["A"] + var["B"]
print(var)

   A  B   C
0  1  5   6
1  2  6   8
2  3  7  10
3  4  8  12

In [12]:
var["C"] = var["A"] - var["B"]
print(var)

   A  B  C
0  1  5 -4
1  2  6 -4
2  3  7 -4
3  4  8 -4

In [13]:
var["C"] = var["A"] * var["B"]
print(var)

   A  B   C
0  1  5   5
1  2  6  12
2  3  7  21
3  4  8  32

In [14]:
var1 = pd.DataFrame({"A":[10,20,30,40],"B":[50,60,70,80],})
print(var1)

    A   B
0  10  50
1  20  60
2  30  70
3  40  80

In [17]:
var1["pyhon"] = var1["A"] <=20
print(var1)

    A   B  pyhon
0  10  50   True
1  20  60   True
2  30  70  False
3  40  80  False

In [21]:
var1["pyhon1"] = var1["B"] >=60
print(var1)

    A   B  pyhon  pyhon1
0  10  50   True   False
1  20  60  False    True
2  30  70  False    True
3  40  80  False    True