Delete and Insert Data in Pandas

Insert

In [10]:
import pandas as pd

var = pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
print(var)

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [11]:
print(var)

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [23]:
# var.insert(1,"C",var["A"])
var = var.drop("C",axis=1)
print(var)

   A  B  python
0  1  1       1
1  2  2       2
2  3  3       3
3  4  4       4